//colors
$medium_gray: #a2a9b0;
$white: #fff;
$blue: rgba(0, 83, 154, 1);
$black: rgba(18, 22, 25, 1);
$red: rgba(246, 52, 52, 1);
$gray: #f3f3f3;
$gray1: #dde1e6;
$dark_gray: #4d5358;
$dark__blue: #003d6d;

$fz_standart: 20px;
